

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header cardhead primarybg" data-background-color="">
                    <p class="title chapter-no">Chapter 1</p>
                    <p class="category">Create or Edit a User</p>
                </div>
                <div class="card-content">
                    <form name="userform">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle primarybg" type="button"
                                        data-toggle="dropdown">{{usertypename}}
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="type in access" class="capitalize"><a
                                                class="capitalize userhover"
                                                ng-click="settype($index)">{{type.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label inputsize">Name</label>
                                    <input type="text" class="form-control inputbox" ng-model="user.name" name="name"
                                        required>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label inputsize">Email address</label>
                                    <input type="email" class="form-control  inputbox" ng-model="user.email"
                                        name="email">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label inputsize">Mobile</label>
                                    <input type="tel" class="form-control inputbox" name="contact"
                                        ng-model="user.contact" required>
                                </div>
                            </div>
                        </div>




                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label inputsize">Password</label>
                                    <input type="text" class="form-control inputbox" ng-model="user.password">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label inputsize">Confirm Password</label>
                                    <input type="text" class="form-control inputbox" ng-model="pass.confirmpassword">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label inputsize">School</label>
                                    <input type="text" class="form-control inputbox" ng-model="user.school">
                                </div>
                            </div>
                        </div>

                        <div ng-if="usertypename == 'Teacher'" class="row dropdown-selection" >
                            <div class=" select-board-wrapper" ng-repeat="board in boardsdata">
                                <!-- <div class="form-group label-floating">
                                    <label class="control-label inputsize">Board</label>
                                    <select class="inputselect" ng-model="user.board_id" ng-change="getstandards()">
                                        <option value="" disabled selected>Choose your option</option>
                                        <option value="{{board.id}}" ng-selected="board.id == user.board_id" ng-repeat="board in boards">{{board.name}}</option>
                                    </select>
                                </div> -->

                                <!-- <div class="boards-wrapper"> -->
                                <ul class="collapsible board-wrapper">
                                    <li>
                                        <div class="collapsible-header board-name" ng-click="addteacherboard(board)">{{board.name}}<i class="board-tick-svg"><svg
                                                    width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <circle id="board{{board.id}}" cx="10" cy="10" r="10" fill="#767676" />
                                                    <g clip-path="url(#clip0)">
                                                        <path
                                                            d="M7.2416 12.6078L4.71999 10.0862L3.3335 11.4727L6.66109 14.8003L6.66491 14.7965L7.27239 15.4039L16.6668 6.00945L15.2534 4.59601L7.2416 12.6078Z"
                                                            fill="white" />
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0">
                                                            <rect width="13.3333" height="13.3333" fill="white"
                                                                transform="translate(3.3335 3.33331)" />
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </i></div>
                                        
                                    </li>
                                    <li ng-repeat="standard in board.standards">
                                        <div class="collapsible-header std-header" ng-click="addteacherstandard(standard)">{{standard.name}}<i
                                                class="board-tick-svg"><svg width="20" height="20" viewBox="0 0 20 20"
                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle id="stand{{standard.id}}" cx="10" cy="10" r="10" fill="#767676" />
                                                    <g clip-path="url(#clip0)">
                                                        <path
                                                            d="M7.2416 12.6078L4.71999 10.0862L3.3335 11.4727L6.66109 14.8003L6.66491 14.7965L7.27239 15.4039L16.6668 6.00945L15.2534 4.59601L7.2416 12.6078Z"
                                                            fill="white" />
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0">
                                                            <rect width="13.3333" height="13.3333" fill="white"
                                                                transform="translate(3.3335 3.33331)" />
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </i></div>
                                            <div ng-repeat="subject in standard.subjects" class="collapsible-body std-body" style="display: block !important" ng-click="addtechersub(subject.id)">
                                                <div  class="std-body" ><span class="chapter-name">{{subject.name}}</span><svg width="20"
                                                height="20" class="chapter-svg" viewBox="0 0 20 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <circle id="sub{{subject.id}}" cx="10" cy="10" r="10" fill="#767676" />
                                                <g clip-path="url(#clip0)">
                                                    <path
                                                        d="M7.2416 12.6078L4.71999 10.0862L3.3335 11.4727L6.66109 14.8003L6.66491 14.7965L7.27239 15.4039L16.6668 6.00945L15.2534 4.59601L7.2416 12.6078Z"
                                                        fill="white" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0">
                                                        <rect width="13.3333" height="13.3333" fill="white"
                                                            transform="translate(3.3335 3.33331)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>



                                
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <input type="checkbox" id="indeterminate-checkbox" ng-model="user.verified"
                                        ng-true-value="1" ng-false-value="0" />
                                    <label for="indeterminate-checkbox">Verified</label>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success pull-right "
                            ng-click="createuser()">Update</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
