<style>
    .modal-heading{
            text-align: center !important;
            font-size: 20px;
            font-weight: 500;
            padding: 20px;
        }
        .modal-heading span{
            color: #00bcd4;
        }
        .modal-table td,th{
            border: 1px solid black;
            text-align: center !important;
            padding: 10px;
        }
        .modal-table tr:first-child{
            background: #00bcd4;
            color: #fff;
        }
        .modal-table tr td:nth-child(2){
            cursor: pointer;
        }
        .center-heading{
            line-height: 15px;
            font-size: 1.3em;
            font-weight: 500;
            text-align: center;
            margin-top: 25px;
        }
        .action-wrapper{
        padding: 0 25px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        background-color: #F5F1F1;
        padding-left: 0 25px;
        align-items: center;
        width: 80%;
        margin: 35px auto;
        border: black 1px solid;
        }
    
        .action-text{
        font-weight: 500;
        font-size: 1.4em;
        }
        .arrow-svg{
        width: 27px;
        height: 27px;
        }

</style>

<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="content center-wrapper">
                <p class="center-heading">Add information to classes</p>


                <div class="action-wrapper">
                    <p class="action-text">
                        View or Add Cities to Classes
                    </p>
                    <!--ARROW SVG-->
                    <svg class="arrow-svg" viewBox="0 0 41 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.4795 30.6978L40.5195 15.6L14.4795 0.502197V30.6978Z" fill="black" />
                        <path d="M12.5895 10.9653H4.74949C2.36949 10.9653 0.479492 12.44 0.479492 14.1956V17.0044C0.479492 18.76 2.43949 20.2347 4.74949 20.2347H12.5195V10.9653H12.5895Z" fill="black" />
                    </svg>


                </div>
                <div class="action-wrapper">
                    <p class="action-text">
                        View or Add Centers to Cities
                    </p>
                    <!--ARROW SVG-->
                    <svg class="arrow-svg" viewBox="0 0 41 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.4795 30.6978L40.5195 15.6L14.4795 0.502197V30.6978Z" fill="black" />
                        <path d="M12.5895 10.9653H4.74949C2.36949 10.9653 0.479492 12.44 0.479492 14.1956V17.0044C0.479492 18.76 2.43949 20.2347 4.74949 20.2347H12.5195V10.9653H12.5895Z" fill="black" />
                    </svg>


                </div>
                <div class="action-wrapper">
                    <p class="action-text">
                        View or Add Branches to Centers
                    </p>
                    <!--ARROW SVG-->
                    <svg class="arrow-svg" viewBox="0 0 41 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.4795 30.6978L40.5195 15.6L14.4795 0.502197V30.6978Z" fill="black" />
                        <path d="M12.5895 10.9653H4.74949C2.36949 10.9653 0.479492 12.44 0.479492 14.1956V17.0044C0.479492 18.76 2.43949 20.2347 4.74949 20.2347H12.5195V10.9653H12.5895Z" fill="black" />
                    </svg>


                </div>
            </div>
        </div>
    </div>

    <!--  
         <div class="col-md-12">
        <div class="card">
            <div class="card-header primarybg row" data-background-color="">
                <div class="col-md-8">
                    <h4 class="title">Center Details</h4>
                    <p class="category">This is where you can Add/Edit/Delete Center Details</p>
                </div>

            </div>
            <div class="content">
                <h2>Cities</h2>
                <div class="content-wrapper">

                    <div class="action-div" ng-click="addnewvalue('cities')">

                        <p class="action-text">Add City</p>
                    </div>

                    <div class="action-div" ng-click="showmodal('cities','view-modal')">

                        <p class="action-text">See All Cities</p>
                    </div>

                                <button class="btn btn-info btn-lg adddatabtn" >Add City</button>
                </div>




            </div>


            <div class="content">
                <h2>Centers</h2>
                <div class="content-wrapper">
                    <div class="action-div" ng-click="addnewvalue('centres')">

                        <p class="action-text">Add Center</p>
                    </div>
                    <div class="action-div" ng-click="showmodal('centers','view-modal')">

                        <p class="action-text">See All Centers</p>
                    </div>

                </div>


            </div>
            <div class="content">
                <h2>Batches</h2>
                <div class="content-wrapper">



                    <div class="action-div" ng-click="addnewvalue('batches')">

                        <p class="action-text">Add Branch</p>
                    </div>
                    <div class="action-div" ng-click="showmodal('batches','view-modal')">

                        <p class="action-text">See All Batches</p>
                    </div>

                </div>



            </div>
        </div>
    </div>-->

    <!-- Modal -->
    <!--

<div id="cities" class="modal fade view-modal" role="dialog">
    <div class="modal-dialog">

         Modal content
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Cities</h4>
            </div>
            <div class="modal-body">
             
            </div>
            <div class="modal-footer">
               
            </div>
        </div>

    </div>
</div>
-->

    <div>










     </div>

    <div id="modal1" class="modal view-modal bottom-sheet">
        <div class="modal-content">

            <table class="modal-table" ng-if="modalheader=='cities'">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
                <tr ng-repeat="city in cities">

                    <td>
                        {{city.id}}
                    </td>
                    <td>
                        {{city.name}}
                    </td>
                    <td>
                        <i class="material-icons questionicon redcolor" aria-hidden="true" ng-click="deletedata(city.id)">delete</i>
                    </td>
                </tr>

            </table>
            <div ng-repeat="city in cities" ng-if="modalheader=='centers'">
                <h6 class="modal-heading">City Name : <span>{{city.name}}</span></h6>
                <table class="modal-table">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    <tr ng-repeat="center in city.centres">

                        <td>
                            {{center.id}}
                        </td>
                        <td>
                            {{center.name}}
                        </td>
                        <td>
                            <i class="material-icons questionicon redcolor" aria-hidden="true" ng-click="deletedata(center.id)">delete</i>
                        </td>
                    </tr>

                </table>
            </div>

            <div ng-repeat="center in centers" ng-if="modalheader=='batches'">
                <h6 class="modal-heading">Center Name : <span>{{center.name}}</span></h6>
                <table class="modal-table">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    <tr ng-repeat="batch in center.batches" ng-if="modalheader=='batches'" ng-click="addstudentsinbatches(batch.id)">

                        <td>
                            {{batch.id}}
                        </td>
                        <td>
                            {{batch.name}}
                        </td>
                        <td>
                            <i class="material-icons questionicon redcolor" aria-hidden="true" ng-click="deletedata(batch.id)">delete</i>
                        </td>
                    </tr>

                </table>
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" ng-click="closemodal('view-modal')" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>




    <div id="modal1" class="modal insert-modal bottom-sheet">
        <div class="modal-content">
            <div>
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="first_name" ng-model="newdata.name" type="text" class="validate">
                            <label for="first_name">Name</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select ng-model="newdata.city_id" ng-if="modalheader=='centres'">
                                <option value="">Choose City</option>
                                <option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>

                            </select>
                            <select ng-model="newdata.centre_id" ng-if="modalheader=='batches'">
                                <option value="">Choose Center</option>
                                <option ng-repeat="center in centers" value="{{center.id}}">{{center.name}}</option>

                            </select>

                        </div>
                    </div>
                    <div class="row">
                        <button class="btn waves-effect waves-light " type="button" ng-click="adddata()" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="closemodal('insert-modal')" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <!--

<div id="centers" class="view-modal modal fade view-modal" role="dialog">
    <div class="modal-dialog">

         Modal content
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Centers</h4>
            </div>
            <div class="modal-body">
                <div ng-repeat="city in cities ">
                    <h6>{{city.name}}</h6>
                    <table>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                        </tr>
                        <tr ng-repeat="centre in city.centres">

                            <td>
                                {{centre.id}}
                            </td>
                            <td>
                                {{centre.name}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="closemodal()" class="btn btn-default"
                    data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
-->

    <!--
<div id="batches" class="modal fade view-modal" role="dialog">
    <div class="modal-dialog">

         Modal content
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Batches</h4>
            </div>
            <div class="modal-body">
                <div ng-repeat="centre in centers ">
                    <h6>{{centre.name}}</h6>
                    <table>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                        </tr>
                        <tr ng-repeat="batch in centre.batches">

                            <td>
                                {{batch.id}}
                            </td>
                            <td>
                                {{batch.name}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="closemodal()" class="btn btn-default"
                    data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>-->
