<h6 class="notification-title">Create Notification</h6>
<div class="row">
    <div class="col-md-6">

        <!--User Type Dropdown-->
        <p class="notification-label">Select User Type</p>
        <select class="notification-input" ng-model="notification.usertype" ng-init="notification.usertype='1'">
            <option value="1">Teacher</option>
            <option value="2">Inhouse Students</option>
            <option value="3">External Students</option>
            <option value="2,3">All students</option>
        </select>

        <!--Standard Dropdown-->
        <div ng-if="notification.usertype!='1'">
            <p class="notification-label">Select Standard</p>
            <select class="notification-input" ng-model="notification.standard" ng-init="notification.standard='1'">
                <option value="1">8</option>
                <option value="2">9</option>
                <option value="3">10</option>
            </select>
        </div>
        <!--Message-->
        <p class="notification-label">Type the message</p>
        <textarea class="notification-input notification-message-field" ng-model="notification.message">

        </textarea>

        <p class="notification-label">Enter Question ID</p>
        <input type="text" class="notification-input notification-message-field" ng-model="notification.questionid" />



        <button type="button" class="btn btn-default primarybg" ng-click="sendNotification()">SEND NOTIFICATION</button>

    </div>

    <div class="col-md-6">
        <img src="img/nexus.png" width="40%" />
        <div class="notification-on-phone">
            <div class="inner-notification">
                <img src="img/logo.png" class="notification-icon" />
                <p class="notification-text">Your marks have been displayed. Your marks have been displayed. Your marks have been displayed</p>
            </div>
        </div>
    </div>
</div>