<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header cardhead primarybg" data-background-color="">
                    <h4 class="title">Create Question</h4>
                    <p class="category">Create or Edit a Question</p>
                </div>
                <div class="card-content">
                    <form name="userform">

                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">

                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 createquestion" for="heard">Board</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="heard" class="form-control questionselect" ng-model="dropdown.board" required>
                                            <option value="noboard" ng-selected="dropdown.board == 'noboard'">Select Board</option>
                                            <option value="{{$index}}" ng-repeat="b in boards" ng-selected="dropdown.board == $index">{{b.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 createquestion" for="heard">Standard</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="heard" class="form-control questionselect" ng-model="dropdown.standard" required>
                                            <option value="nostandard" ng-selected="dropdown.standard == 'nostandard'">Select Standard</option>
                                            <option value="{{$index}}" ng-repeat="std in boards[dropdown.board].standards" ng-selected="dropdown.standard == $index">{{std.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 createquestion" for="heard">Subject</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="heard" class="form-control questionselect" ng-model="dropdown.subject" required>
                                            <option value="nosubject" ng-selected="dropdown.subject == 'nosubject'">Select Subject</option>
                                            <option value="{{$index}}" ng-repeat="sub in boards[dropdown.board].standards[dropdown.standard].subjects" ng-selected="dropdown.subject=='$index'">{{sub.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 createquestion" for="heard">Chapter</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="heard" class="form-control questionselect" ng-model="question.chapter_id" ng-change="chapterchange()" required>
                                            <option value="{{chap.id}}" ng-repeat="chap in boards[dropdown.board].standards[dropdown.standard].subjects[dropdown.subject].chapters" ng-selected="chap.id == question.chapter_id">{{chap.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 createquestion" for="heard">Type</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="heard" class="form-control questionselect" ng-model="question.questiontype_id" required>
                                            <option value="1" ng-selected="question.questiontype_id
 == 1">Practice</option>
                                            <option value="6" ng-selected="question.questiontype_id
 == 6">Practice Card Question</option>
                                            <option value="2" ng-selected="question.questiontype_id
 == 2">Test</option>
                                            <option value="3" ng-selected="question.questiontype_id
 == 3">Doubt</option>
                                            <option value="4" ng-selected="question.questiontype_id
 == 4">Others</option>
                                            <option value="5" ng-selected="question.questiontype_id
 == 5">Text Book</option>
                                            <option value="7" ng-selected="question.questiontype_id
 == 7">Home Work</option>
                                       <option value="8" ng-selected="question.questiontype_id
 == 8">School Assignment</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 createquestion" for="heard">Format</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="heard" class="form-control questionselect" ng-model="question.format" required>
                                            <option value="1" ng-selected="question.format == 1">Normal</option>
                                            <option value="2" ng-selected="question.format == 2">Code</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label inputsize">School</label>
                                    <input type="text" class="form-control inputbox" ng-model="user.school">
                                </div>
                            </div>
                        </div>-->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 createquestion" for="heard">Options Available</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="heard" class="form-control questionselect" ng-model="question.optionsavailable" required>
                                            <option value="0" ng-selected="question.optionsavailable == 0">No</option>
                                            <option value="1" ng-selected="question.optionsavailable == 1">Yes</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" ng-show="question.optionsavailable == 1">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 createquestion" for="heard">Options Format</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="heard" class="form-control questionselect" ng-model="question.optionsformat" required>
                                            <option value="1" ng-selected="question.optionsformat == 1">Normal</option>
                                            <option value="2" ng-selected="question.optionsformat == 2">Code</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 createquestion" for="heard">Difficulty</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="heard" class="form-control questionselect" ng-model="question.difficulty" required>
                                            <option value="1" ng-selected="question.difficulty == 1">Easy</option>
                                            <option value="2" ng-selected="question.difficulty == 2">Medium</option>
                                            <option value="3" ng-selected="question.difficulty == 3">Hard</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 createquestion" for="heard">Marks</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="heard" class="form-control questionselect" ng-model="question.marks" required>
                                            <option value="1" ng-selected="question.marks == 1">1</option>
                                            <option value="2" ng-selected="question.marks == 2">2</option>
                                            <option value="3" ng-selected="question.marks == 3">3</option>
                                            <option value="4" ng-selected="question.marks == 4">4</option>
                                            <option value="5" ng-selected="question.marks == 5">5</option>
                                            <option value="6" ng-selected="question.marks == 6">6</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <!--SAME CONCEPTS AND DETAILED ANSWERS-->


                        <div class="row">
                            <div class="form-group" ng-if="question.format == 1">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12 createquestion" for="first-name">Question <span class="required">*</span>
                                </label>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <textarea type="textarea" id="first-name" required="required" class="form-control col-md-12 col-xs-12 questionselect textareaquestion textspace" ng-model="question.question"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="question.format == 1">
                            <div class="col-md-2 createquestion">Question Image</div>
                            <div class="col-md-6">
                                <input id="questionimageupload" class="questionschoosefile" type="file" aria-label="Add Excel to your post" class="upload" name="file" onchange="angular.element(this).scope().LoadFileData(this.files, 0)" multiple="">
                            </div>
                            <div class="col-md-4" ng-if="editid != 0 && questionimage !=''">
                                <img src="{{questionimage | imagepath}}" style="width: 100%;max-height: 120px;">
                                <a class="textcenter deletequestionlink" ng-click="removeimage('question')">Remove Image</a>
                            </div>
                        </div>



                        <!--WHAT YOU SEE IS WHAT YOU GET-->
                        <div class="row" ng-show="question.format == 2">
                            <div class="form-group">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12 createquestion" for="first-name">Question <span class="required">*</span>
                                </label>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <text-angular name="questiondata" ng-model="question.question" ng-focus="setdatavariable('question')" ta-target-toolbars="htmlcontent" ta-file-drop="dropHandler" style="background-color: #eeeeee;"></text-angular>
                                        </div>
                                        <div class="col-md-6">
                                            <div>
                                                <button style="width:100%" ng-click="openequationeditor()" class="btn modal-trigger primarybg">EQUATION EDITOR</button>
                                            </div>

                                            <text-angular-toolbar name="htmlcontent" ta-toolbar="[['h5','p','pre','quote','arrowrightsymbol','arrowbothsymbol',],
['bold','italics','underline','strikeThrough','superscript','subscript','table'],['ul','ol','justifyLeft','justifyCenter','justifyRight','justifyFull','indent','outdent'],
['undo','redo','clear'],
['insertequation','showcardviewer','editequation']]" ta-toolbar-group-class="btngroupstyle" ta-toolbar-button-class="btngroupstylebutton" ta-toolbar-active-button-class="activetoolbarbtn"></text-angular-toolbar>
                                        </div>
                                    </div>


                                    <!--
['h5','p','pre','quote','arrowrightsymbol','arrowbothsymbol',],
['bold','italics','underline','strikeThrough','superscript','subscript'],['ul','ol','justifyLeft','justifyCenter','justifyRight','justifyFull','indent','outdent'],
['undo','redo','clear'],
['insertequation','showcardviewer']













-->


                                </div>
                            </div>
                        </div>

                        <!--CONCEPTS-->
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12 createquestion" for="first-name">Concepts <span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <p ng-repeat="con in conceptsdropdown">
                                        <input type="checkbox" id="{{'checkbox'+$index}}" ng-model="concept.concepts[$index]" />
                                        <label for="{{'checkbox'+$index}}">{{con.name}} - {{con.id}}</label>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 createquestion" for="heard">Answer Format</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="heard" class="form-control questionselect" ng-model="answer.answerformat" required>
                                            <option value="1" ng-selected="answer.answerformat == 1">Normal</option>
                                            <option value="2" ng-selected="answer.answerformat == 2">Code</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--DETAILIED ANSWER-->
                        <div class="row" ng-if="answer.answerformat == 1">
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12 createquestion" for="first-name">Detailed Answer <span class="required">*</span>
                                </label>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <textarea type="textarea" id="first-name" required="required" class="form-control col-md-7 col-xs-12 questionselect textareaquestion" ng-model="answer.answer"></textarea>
                                </div>
                            </div>
                        </div>


                        <!--ANSWER IMAGE-->
                        <div class="row" ng-if="answer.answerformat == 1">
                            <div class="col-md-2 createquestion">Answer Image</div>
                            <div class="col-md-6">
                                <input id="questionimageupload" class="questionschoosefile" type="file" aria-label="Add Excel to your post" class="upload" name="file" onchange="angular.element(this).scope().LoadFileData(this.files, 1)" multiple="">
                            </div>
                            <div class="col-md-4" ng-if="editid != 0 && answerimage !=''">
                                <img src="{{answerimage | imagepath}}" style="width: auto;height: 120px;">
                                <a class="textcenter deletequestionlink" ng-click="removeimage('answer')">Remove Image</a>
                            </div>
                        </div>

                        <!--WHAT YOU SEE IS WHAT YOU GET-->
                        <div class="row" ng-show="answer.answerformat == 2">
                            <div class="form-group">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12 createquestion" for="first-name">Detailed Answer <span class="required">*</span>
                                </label>
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <text-angular name="answerdata" ng-model="answer.answer" ng-focus="setdatavariable('answer')" ta-target-toolbars="answerhtmlcontent" ta-file-drop="dropHandler" style="background-color: #eeeeee;"></text-angular>
                                        </div>
                                        <div class="col-md-6">
                                            <!--<div id="editorContainer2" ng-init="loadmathseditor()"></div>-->
                                            <div>
                                                <button style="width:100%" ng-click="openequationeditor()" class="btn modal-trigger primarybg">EQUATION EDITOR</button>
                                            </div>

                                            <text-angular-toolbar name="answerhtmlcontent" ta-toolbar="[['h5','p','pre','quote','arrowrightsymbol','arrowbothsymbol',],
['bold','italics','underline','strikeThrough','superscript','subscript','table'],['ul','ol','justifyLeft','justifyCenter','justifyRight','justifyFull','indent','outdent'],
['undo','redo','clear'],
['insertequation','showcardviewer','editequation']]" ta-toolbar-group-class="btngroupstyle" ta-toolbar-button-class="btngroupstylebutton" ta-toolbar-active-button-class="activetoolbarbtn"></text-angular-toolbar>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>

                        <!--CODED FORMAT OPTIONS-->
                        <div ng-show="question.optionsavailable == 1 && question.optionsformat == 2">
                            <!--OPTION 1-->
                            <div class="row" style="border-radius: 4px;border: 2px solid rgba(0, 109, 123, 0.46);">
                                <div class="textcenter">
                                    <h5>Options</h5></div>
                                <div class="col-md-6" style="height:460px;overflow-y:scroll">

                                    <ul class="collapsible" data-collapsible="accordion">
                                        <li>
                                            <div class="collapsible-header" ng-class="{'primarycolor':answer.option1 != ''}">
                                                <i class="material-icons" ng-if="answer.option1 == ''">arrow_drop_down_circle</i>
                                                <i class="material-icons" ng-if="answer.option1 != ''">done</i><strong>Option A (Correct Answer) </strong></div>
                                            <div class="collapsible-body">
                                                <text-angular name="option1data" ng-model="answer.option1" ng-focus="setdatavariable('option1')" ta-target-toolbars="optionshtml" ta-file-drop="dropHandler" class="optiontextangular" style="background-color: #eeeeee;"></text-angular>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header" ng-class="{'primarycolor':answer.option2 != ''}">
                                                <i class="material-icons" ng-if="answer.option2 == ''">arrow_drop_down_circle</i>
                                                <i class="material-icons" ng-if="answer.option2 != ''">done</i><strong>Option B</strong></div>
                                            <div class="collapsible-body">
                                                <text-angular name="option2data" ng-model="answer.option2" ng-focus="setdatavariable('option2')" ta-target-toolbars="optionshtml" ta-file-drop="dropHandler" class="optiontextangular" style="background-color: #eeeeee;"></text-angular>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header" ng-class="{'primarycolor':answer.option3 != ''}">
                                                <i class="material-icons" ng-if="answer.option3 == ''">arrow_drop_down_circle</i>
                                                <i class="material-icons" ng-if="answer.option3 != ''">done</i> <strong>Option C</strong></div>
                                            <div class="collapsible-body">
                                                <text-angular name="option3data" ng-model="answer.option3" ng-focus="setdatavariable('option3')" ta-target-toolbars="optionshtml" ta-file-drop="dropHandler" class="optiontextangular" style="background-color: #eeeeee;"></text-angular>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header" ng-class="{'primarycolor':answer.option4 != ''}">
                                                <i class="material-icons" ng-if="answer.option4 == ''">arrow_drop_down_circle</i>
                                                <i class="material-icons" ng-if="answer.option4 != ''">done</i> <strong>Option D</strong></div>
                                            <div class="collapsible-body">
                                                <text-angular name="option4data" ng-model="answer.option4" ng-focus="setdatavariable('option4')" ta-target-toolbars="optionshtml" ta-file-drop="dropHandler" class="optiontextangular" style="background-color: #eeeeee;"></text-angular>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <!--<div id="editorContainer3" ng-init="loadmathseditor()"></div>-->

                                    <div>
                                        <button style="width:100%" ng-click="openequationeditor()" class="btn modal-trigger primarybg">EQUATION EDITOR</button>
                                    </div>

                                    <text-angular-toolbar name="optionshtml" ta-toolbar="[['h5','p','pre','quote','arrowrightsymbol','arrowbothsymbol',],
['bold','italics','underline','strikeThrough','superscript','subscript','table'],['ul','ol','justifyLeft','justifyCenter','justifyRight','justifyFull','indent','outdent'],
['undo','redo','clear'],
['insertequation','showcardviewer','editequation']]" ta-toolbar-group-class="btngroupstyle" ta-toolbar-button-class="btngroupstylebutton" ta-toolbar-active-button-class="activetoolbarbtn"></text-angular-toolbar>
                                </div>

                            </div>


                        </div>

                        <!--NORMAL FORMAT OPTIONS-->
                        <div ng-show="question.optionsavailable == 1 && question.optionsformat == 1">
                            <!--OPTION 1-->
                            <div class="row">
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header" ng-class="{'primarycolor':answer.option1 != ''}">
                                            <i class="material-icons" ng-if="answer.option1 == ''">arrow_drop_down_circle</i>
                                            <i class="material-icons" ng-if="answer.option1 != ''">done</i>
                                            <strong>Option A (Correct Answer) </strong></div>
                                        <div class="collapsible-body padding0">
                                            <textarea type="textarea" id="first-name" required="required" class="form-control col-md-7 col-xs-12 questionselect textareaoptions" ng-model="answer.option1"></textarea>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header" ng-class="{'primarycolor':answer.option2 != ''}">
                                            <i class="material-icons" ng-if="answer.option2 == ''">arrow_drop_down_circle</i>
                                            <i class="material-icons" ng-if="answer.option2 != ''">done</i>
                                            <strong>Option B</strong></div>
                                        <div class="collapsible-body padding0">
                                            <textarea type="textarea" id="first-name" required="required" class="form-control col-md-7 col-xs-12 questionselect textareaoptions" ng-model="answer.option2"></textarea>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header" ng-class="{'primarycolor':answer.option3 != ''}">
                                            <i class="material-icons" ng-if="answer.option3 == ''">arrow_drop_down_circle</i>
                                            <i class="material-icons" ng-if="answer.option3 != ''">done</i>
                                            <strong>Option C</strong></div>
                                        <div class="collapsible-body padding0">
                                            <textarea type="textarea" id="first-name" required="required" class="form-control col-md-7 col-xs-12 questionselect textareaoptions" ng-model="answer.option3"></textarea>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header" ng-class="{'primarycolor':answer.option4 != ''}">
                                            <i class="material-icons" ng-if="answer.option4 == ''">arrow_drop_down_circle</i>
                                            <i class="material-icons" ng-if="answer.option4 != ''">done</i>
                                            <strong>Option D</strong></div>
                                        <div class="collapsible-body padding0">
                                            <textarea type="textarea" id="first-name" required="required" class="form-control col-md-7 col-xs-12 questionselect textareaoptions" ng-model="answer.option4"></textarea>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row" ng-if="user.access_id == '1'">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12 createquestion" for="heard">Question Verified</label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <select id="heard" class="form-control questionselect" ng-model="question.questionverified" required>
                                            <option value="0" ng-selected="question.verified == 0">No</option>
                                            <option value="1" ng-selected="question.verified == 1">Yes</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 createquestion" for="heard">Answer Verified</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="heard" class="form-control questionselect" ng-model="answer.answerverified" required>
                                            <option value="0" ng-selected="question.verified == 0">No</option>
                                            <option value="1" ng-selected="question.verified == 1">Yes</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                        </div>



                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                                <button class="btn btn-danger" type="button" ng-click="goback()">Cancel</button>
                                <button type="submit" class="btn btn-success" ng-click="submit()">Submit</button>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
